<html>
  <head>
      <title>Chez Thibault</title>
  </head>
  <body>
    Bienvenue {{ login }}, tu pèses toi t'es admin, respect brooo
    Ici tu peux créer un user:
    <form id="form" action="/users">
      <input type="text" name="login" >
      <input type="text" name="mail">
      <input type="password" name="password">
    </form>

    Si tu veux changer ton mdp tu hésites pas c'est juste là maggle:
    <form id="form" action="/self">
      <input type="password" name="password" >
      <input type="password" name="new_password">
      <input type="password" name="confirm_password">
    </form>

    Regarde moi cette liste de users mon pote, un max de growth hack qu'on a encore fait pour choper tout ça :
    {{ users }}
  </body>
</html>
