<html>
  <head>
      <title>Chez Thibault</title>
			<link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    Bienvenue {{ login }}
    Si tu veux changer ton mdp tu hésites pas c'est juste là maggle:
    <form id="updateSelf" method="post" action="/self">
      <label>
        <input type="password" name="password" >
      Password
      </label>

      <label>
      New Password
        <input
          type="password"
          id="new_password"
          name="new_password">
      </label>

      <label>
      Confirm New Password
        <input
          type="password"
          id="confirm_password"
          name="confirm_password">
      </label>

      <input type="submit" value="Submit">
    </form>
    <script>
			document.querySelector("#updateSelf").addEventListener("submit", function(e){
          if (document.getElementById("new_password").value === ""
            || document.getElementById("new_password").value !== document.getElementById("confirm_password").value ) {
				    e.preventDefault();
            alert("PASSWORD DOES NOT MATCH")
          }
				
			});
    </script>
  </body>
</html>
